{% load static %}
<!-- Footer -->
<footer class="footer-basic">
  <!-- Section: Social media -->
  <section>
    <!-- Left -->
    <div id="copyright">
        © 2021 Copyright:
        <a class="" href="#">tombola.com</a>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div id="social">
        <!--
      <a href="/" class="">
        <i class="icon ion-social-facebook"></i>
      </a>
      -->
      <a target="_blank" href="https://twitter.com/tombola" class="">
        <i class="icon ion-social-twitter"></i>
      </a>
        <!--
      <a href="/" class="">
        <i class="icon ion-social-instagram"></i>
      </a>
      -->
      <a target="_blank" href="https://www.youtube.com/channel/UC7Ve2SWSrv4vr31Rrx-Re8A" class="">
        <i class="icon ion-social-youtube"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
</footer>
<!-- Footer -->