
<!-- New NavBar  -->
<nav>
    <div class="nav-bar-div">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <ul>
              <li><a class="navbar-brand" href="/">TOMBOLA</a></li>
              <li><a href="{% url 'item-index' %}">Items <span class="sr-only">(current)</span></a></li>
              <li><a href="{% url 'create_item' %}">Sell</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="{% url 'my_listings' %}">My Listings</a></li>
              <li><a href="{% url 'my_bids' %}">My Bids</a></li>
        <div class="rating" >
            <li><a >My rating:</a></li>
        </div>

                {% if user.is_authenticated %}
                    <img style="float:right" src="{{ user.profile.profile_image }}" class="profile-image" />
                {% endif %}
              {% if user.is_authenticated %}
                  <li style="float:right"><a href="{% url 'profile' %}">Profile</a></li>
                  <li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
                  <li style="float:right"><a href="{% url 'contact_info' %}">Checkout</a></li>
              {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                  <li><a href="{% url 'register' %}">Register</a></li>
              {% endif %}

        </ul>
    </div>
</nav>


