/* ###########################################################################################
 #############################################################################################
 #############################################################################################
 #############################################################################################

    STYLESHEET TABLE OF CONTENTS
        1. BODY
        2. NAVIGATION BAR
        3. Search bar
        4. Items
        5. CONTAINER

 ###########################################################################################
 ###########################################################################################
 ###########################################################################################
/* 1. BODY   ############################################################################### */
body{
    height: 100%;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 202, 0, 0.5)), to(rgba(255, 153, 52, 0.5))) fixed;
}



/* 2. NAVIGATION BAR   ##################################################################### */
nav-bar-div{
    position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, rgba(250, 112, 0, 0.8), rgba(255, 229, 0, 0.56));
  border-bottom: solid 4px white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(255, 69, 0, 0.51);
  border-bottom: 4px solid #ffffff;
}



/* 3. Search bar in page items   ########################################################### */
.input-group{
    font-size: x-large;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

#search-box.form-control{
    height: 36px;
    width: 500px;
}

.input-group-btn {
    width: 100px;
    height: 40px;
    float: right;
    padding-left: 4px;
}



/* 4. Items   ###############################################################################*/
.items{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.item {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
    text-align: center;
    height: 360px;
    width: 563px;
}

l.item a:hover {
    opacity: 0.9;
    background: lavender;
}

.well.item a {
    width:4600px;
    padding: 5px;
}

.well.item a p{
    text-align: center;
    border: black 10px;
}

.bid-btn{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    display: block;
}

.single_item_container{
    background-color: red;
    width: 500px;
    height: 400px;
    font-size: larger;
}

/* 5. CONTAINER   ########################################################################## */
.container_main{
    border-bottom: solid white 5px;
    border-right: solid white 5px;
    border-left: solid white 5px;
    width: 80%;
    margin: auto;
}

.container h1{
    display: flex;
}

img{
    width:210px;
   height:210px;
}

img.item-img{
    display: block;
}

.input-group-btn:hover{
    opacity: 0.9;
}

.well.item a p{
    text-align: center;
}

.container p{
    text-align: left;
}

img.item-img{
    float: left;
}

/*.bid-btn{
    float: right;
    border: 1px solid black;
    padding: 10px 24px;
    width: 10%;
    height: 200px;
    display: block;
}*/

img.profile-image {
    height: 120px;
    width: 145px;
}