.item {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}
.contain{
    position: relative;
    right: 720px;
    top: -60px;
}

#searchbar{
    right: -69px;
    width: 500px;
    height: 33px;
}

#searchbutton{
    width: 50px;
    color: lightgray;
    right: -50px;
}

.container{
    background-color: lightgray;
    font-family: "Apple Braille";
    font-size: xx-large;
}

.collapse navbar-collapse{
    color: lightgray;
}
.navbar-brand{
    margin: fill;
    float: right;
    color: green;
}


