{% extends 'base.html'%}
{% block content %}
    <h3 class="red">Items</h3>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.." />
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>
    <div class="items">
    {% for item in items %}
        {% include 'item/single_item.html' with item=item %}
    {% endfor %}
    </div>
{% endblock %}